<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webakruti.kamgarchowk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LandingActivity" />
        <activity android:name=".kamgarUI.KamgarRegistrationActivity" />
        <activity android:name=".userUI.UserRegistrationActivity" />
        <activity android:name=".kamgarUI.KamgarLoginActivity" />
        <activity android:name=".userUI.UserLoginActivity" />
        <activity android:name=".userUI.HomeActivity" />
        <activity android:name=".userUI.SubcategoryActivity" />
        <activity android:name=".adapter.HomePopularKamgarAdapter" />
        <activity android:name=".adapter.HomeAvailAllServicesAdapter" />
        <activity android:name=".userUI.KamgarListActivity" />
        <activity android:name=".adapter.KamgarListAdapter" />
        <activity android:name=".kamgarUI.HomeOrProfileActivity" />
        <activity android:name=".userUI.HireKamgarActivity" />
        <activity android:name=".userUI.ForgotPasswordUserActivity" />
        <activity android:name=".kamgarUI.KamgarSubcategoryActivity" />
        <activity android:name=".kamgarUI.ForgotPassKamgarActivity" />
        <activity android:name=".userUI.CategoryActivity" />
        <activity android:name=".userUI.ChangePasswordActivity" />
        <activity android:name=".userUI.MyEnquiryActivity" />
        <activity android:name=".userUI.SupportActivity" />
        <activity android:name=".userUI.EditProfileUserActivity" />
        <activity android:name=".AdvertiseActivity" />
        <activity android:name=".CustomPopupActivity" />
        <activity android:name=".FreeListingActivity"></activity>
    </application>

</manifest>